@font-face {
  font-family: "MotionPicture";
  src: local("MotionPicture"),
   url("../public/fonts/MotionPicture_PersonalUseOnly.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "RemachineScript";
  src: local("RemachineScript"),
   url("../public/fonts/RemachineScript_Personal_Use.ttf") format("truetype");
  font-weight: bold;
}

@font-face
 {
  font-family: "BeautyMountains";
  src: local("BeautyMountains"),
   url("../public/fonts/BeautyMountains.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "MootJungle";
  src: local("MootJungle"),
   url("../public/fonts/MootJungle.ttf") format("truetype");
  font-weight: bold;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  background: 'magenta';
}

.content {
  text-align: center;
}


.image {
  background-image: url("../public/glacierPoint.jpg");

  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header-text {
  width: 100%;
  position: absolute;
  top: 40%;
  font-size: 5em;
  background: black;
  opacity: 0.7;
  color: white;
  font-family: 'BeautyMountains';
}

.content .text {
  width: 100%;
  position: absolute;
  top: 40%;
  font-size: 5em;
  background: black;
  opacity: 0.7;
  color: white;
  font-family: 'MootJungle';
}

.parallax::-webkit-scrollbar {
  display: none;
}

.parallax {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.day-of {
  color: white;

  .time {
    font-size: 2.25rem;
    font-family: 'MootJungle';
  }
  .text {
    font-size: 1.25rem;
  }
}