@font-face {
  font-family: "MotionPicture";
  src: local("MotionPicture"),
   url("../public/fonts/MotionPicture_PersonalUseOnly.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "RemachineScript";
  src: local("RemachineScript"),
   url("../public/fonts/RemachineScript_Personal_Use.ttf") format("truetype");
  font-weight: bold;
}

@font-face
 {
  font-family: "BeautyMountains";
  src: local("BeautyMountains"),
   url("../public/fonts/BeautyMountains.ttf") format("truetype");
  font-weight: bold;
}

@font-face
 {
  font-family: "DancingScript";
  src: local("DancingScript"),
   url("../public/fonts/DancingScript-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face
 {
  font-family: "Sansita";
  src: local("Sansita"),
   url("../public/fonts/SansitaOne.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "MootJungle";
  src: local("MootJungle"),
   url("../public/fonts/MootJungle.ttf") format("truetype");
}

@font-face {
  font-family: "PlayLeaves";
  src: local("PlayLeaves"),
   url("../public/fonts/PlayLeaves.otf") format("truetype");
}

@font-face {
  font-family: "Ysabeau";
  src: local("Ysabeau"),
   url("../public/fonts/Ysabeau.ttf") format("truetype");
}

@font-face {
  font-family: "Cabin";
  src: local("Cabin"),
   url("../public/fonts/CabinRegular.ttf") format("truetype");
}

@font-face {
  font-family: "PerfectlyScratchy";
  src: local("PerfectlyScratchy"),
   url("../public/fonts/PerfectlyScratchy.ttf") format("truetype");
}

@font-face {
  font-family: "ArmyRust";
  src: local("ArmyRust"),
   url("../public/fonts/ArmyRust.ttf") format("truetype");
}

body {
  background: #000033 !important;
}

.App {
  background: #000033;
  color: white;
  font-family: "Cabin";
  font-size: 1.25rem;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.desktop-nav {
  margin-bottom: 56px; 
  .active {
    border-bottom: 2px solid white;
    border-radius: 0;
    padding: 6px 0;
    margin: 0 8px;
  }
}

.mobile-nav {
  margin-bottom: 56px;
  .MuiListItemText-root.active {
    border-bottom: 2px solid white;
    span {
      width: fit-content;
      margin: auto;
      border-bottom: 2px solid white;
    }
  }
}

.page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px 40px !important;
  color: white;
  font-family: "Cabin";
  text-align: center;

  @media (max-width: 600px) {
    padding: 25px !important;
  }

  .page-title {
    font-family: 'DancingScript';
    font-size: 4rem;

    @media(max-width: 600px) {
      font-size: 3.5rem;
    }
  }
}

.content {
  text-align: center;
}

.navy-background {
  padding: 0 30px;
  background: #000033;
  min-height: 100vh;
  width: 100%;
  z-index: 5;
}

.chevron {
    position: absolute;
    height: 3rem;
    margin-top: -4rem;
    left: 0;
}

.image-1 {
  background-image: url("../public/sunsetLayers1.png");

  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 600px) {
    left: 10%;
    background-image: url("../public/sunsetLayersMobile1.png");
  }
}
.image-2 {
  background-image: url("../public/sunsetLayers2-new.png");

  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 600px) {
    left: 10%;
    background-image: url("../public/sunsetLayersMobile2.png");
  }
}
.image-3 {
  background-image: url("../public/sunsetLayers3.png");

  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 600px) {
    left: 10%;
    background-image: url("../public/sunsetLayersMobile3.png");
  }
}
.image-4 {
  background-image: url("../public/sunsetLayers4.png");

  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 600px) {
    left: 10%;
    background-image: url("../public/sunsetLayersMobile4.png");
  }
}

.content-2-columns {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  margin: 25px 0;


  @media (max-width: 600px) {
    display: block;
  }
}

.tenaya {
  flex: 2;

  img {
    max-width: 100%;
    border-radius: 7px;
  }

  @media (max-width: 600px) {
    left: 10%;
  }
}

.user-form {
  max-width: 800px;
  width: 55vw;
  font-size: 1.4rem;
  background: #000033;

  //margin: 20px;
  padding: 3rem;
  border-radius: 10px;
  outline: none;

  @media (max-width: 700px) {
    width: 90%;
    left: 5%;
    margin: auto;
    padding: 20px;
  }

  .mountains {
    max-width: 100%;
  }
  .form-content {
    font-family: "Cabin";
    text-align: center;
    color: 'white';

    @media (max-width: 700px) {
      font-size: 1rem;

      .submit-button {
        margin-top: 10px;
      }
    }

    .wrong-password {
      height: 1.4rem;
      color: #922B56;
    }
  }
}

.logout {
  padding: 20px;
  img {
    max-width: 100%;
  }
}

.page-header-text {
  width: 100%;
  position: absolute;
  top: 10%;
  font-size: 4em;
  color: white;
  font-family: 'BeautyMountains';

  .piece.small {
    font-family: 'DancingScript';
    font-size: 0.5em;
  }

  @media (max-width: 880px) and (min-width: 601px) {
    font-size: 3em;
  }

  @media (max-width: 600px) {
    top: 0;
    font-size: 2em;

    .piece {
      display: block;

      &.small {
        font-size: 0.65em;
      }
    }
  }
}

.content .text {
  width: 100%;
  font-size: 3.5rem;
  color: white;
  font-family: 'DancingScript';
  padding-top: 20vh;
  margin-bottom: 100px;

  .time {
    font-family: 'DancingScript';
    font-size: 2.5rem;
  }
}


.padded-content {
  padding: 40px;

  @media (max-width: 600px) {
    padding: 0;
  }

  .disclaimer {
    max-width: 1000px;
    margin: auto;
    margin-top: 30px;
    color: white;
    font-family: "Cabin";
    font-size: 1.3rem;

    .signature {
      font-family: 'DancingScript';
    }
  }
}

.parallax::-webkit-scrollbar {
  display: none;
}

.parallax {
  height: calc(100vh - 56px) !important;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.sticky {
  z-index: 1;
}

.coverup {
  z-index: 5;
}

.day-of {
  .agenda-item {
    gap: 20px;
    padding: 3rem;

    @media (max-width: 600px) {
      padding: 0;
      padding-top: 80px;
    }

    .time {
      font-size: 2.25rem;
      font-family: 'Sansita';
    }
    .title {
      font-size: 2rem;
      margin-bottom: 20px;
    }
    .text {
      align-self: center;
      font-size: 1.4rem;

      @media (max-width: 600px) {
        font-size: 1.2rem;
      }
    }
  }
}

.planning {
  .section {
    padding: 3rem;

    @media (max-width: 600px) {
      padding: 3rem 0;
    }

    &:first-child {
      padding-top: 0;
    }

    img {
      max-width: 70%;
      margin: 10px;
      border-radius: 7px;

      @media(max-width: 600px) {
        max-width: 100%;
        margin: 10px 0;
      }
    }

    .marker {
      height: 1.25rem;
      margin: 0;
    }

    .note {
      font-family: 'Cabin';
      font-size: 1.25rem;
      color: #d07849;
      color: #ffaa00;

      @media(max-width: 600px) {
        font-size: 1rem;
      }
    }

    .title {
      font-size: 3.5rem;
      font-family: 'DancingScript';
      margin-bottom: 15px;

      @media(max-width: 600px) {
        font-size: 2.75rem;
      }
    }
    .sub-title {
      font-family: 'Sansita';
      font-size: 2rem;
      margin: 40px 0;

      @media(max-width: 600px) {
        font-size: 1.5rem;
      }
    }
    .text {
      align-self: center;
      font-size: 1.65rem;

      @media(max-width: 600px) {
        font-size: 1.4rem;
      }

      .fraction {
        font-size: 1.2rem;

        @media(max-width: 600px) {
          font-size: 1rem;
        }
      }
      .details {
        font-size: 1.25rem;
        color: white;

        @media(max-width: 600px) {
          font-size: 1rem;
        }
      }
    }
  }

  .alert-stamp {
    position: absolute;
    margin-top: 50px;
    font-size: 2rem;
    font-family: 'ArmyRust';
    color: #FFAA00;
    transform: rotate(-25deg);

    span {
      background: #000033BB;
    }

    @media(max-width: 600px) {
      margin-top: 0;
      font-size: 1.5rem;
      left: 0;
    }

    .group {
      line-height: 0.8rem;
    }
  }

  .separator {
    max-width: 100%;
    margin-top: 50px;


    @media(max-width: 600px) {
      margin-top: 0;
    }
  }
}

.wedding-party {
  max-width: 1500px;
  margin: 0 auto;
  padding-bottom: 40px;

  .event {
    margin: 50px auto;
    max-width: 500px;
    border-radius: 7px;
    padding: 0 20px;

    .note {
      margin: 0 0 3px 0;
      color: #ffaa00;
    }
    .title {
      font-family: 'Sansita';
      font-size: 2rem;
    }
    .sub-title {
      font-family: 'Sansita';
      font-size: 1.3rem;
      margin: 10px 0;
    }
  }
  .content-2-columns {
    img {
      width: 55%;
      border-radius: 7px;

      @media(max-width: 600px) {
        width: 100%;
      }
    }
  }

  img {
    max-width: 100%;
  }
}

.yosemite-rules {
  margin: 40px auto;
  padding: 0 40px;

  .content-2-columns {
    height: auto;
    font-size: 1.4rem;

    .order-2 {
      order: 2;
    }

    @media(max-width: 600px) {
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    img {
      width: 55%;
      border-radius: 7px;

      @media(max-width: 600px) {
        width: 100%;
      }
    }
  }

  img {
    width: 50vw;
    border-radius: 7px;

    @media(max-width: 600px) {
      width: 100%;
    }
  }
}

.registry {
  font-size: 1.4rem;
  font-family: 'Cabin';
  margin: 40px auto;
  padding: 0 40px;
  font-size: 1.65rem;

  @media (max-width: 600px) {
    font-size: 1.2rem;
  }

  .section {
    margin: 50px;

    @media (max-width: 600px) {
      margin: 50px 0;
    }
  }

  .note {
    font-size: 1.25rem;
    color: #ffaa00;

    @media (max-width: 600px) {
      font-size: 1rem;
    }
  }

  .content-2-columns {
    div {
      width: 50%;

      @media(max-width: 600px) {
        width: 100%;
      }
    }

    .item {
      margin: 10px;
      font-size: 1.4rem;

      @media(max-width: 600px) {
        margin: 10px 0;
      }
    }

    .order-2 {
      order: 2;
    }

    img {
      width: 55%;
      border-radius: 7px;

      @media (max-width: 600px) {
        width: 100%;
      }
    }
  }

  img {
    max-width: 100%;
  }
}

.rsvp, .not-found {
  .note {
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    color: #ffaa00;
  }

  img {
    width: 55%;
    border-radius: 7px;
    margin-top: 1rem;

    @media (max-width: 600px) {
      width: 100%;
    }
  }
}
